.sidebarkt{
    margin-top: 58px;
}
.kthead{
    margin-left:489px; 
    font-style: bolder;
    font-size: 250%;
    color:#8f3d0a;
    margin-top: 64px;
    margin-bottom: 20px;
    font-family:"Serif"; 
}
.mar{
    margin-bottom: 100px;
}